@import "variables"

meta.mq-small-only
  font-family: "/" + unquote($small-only) + "/"

meta.mq-small-up
  font-family: "/" + unquote($small-up) + "/"

meta.mq-medium-down
  font-family: "/" + unquote($medium-down) + "/"

meta.mq-medium-only
  font-family: "/" + unquote($medium-only) + "/"

meta.mq-medium-up
  font-family: "/" + unquote($medium-up) + "/"

meta.mq-large-down
  font-family: "/" + unquote($large-down) + "/"

meta.mq-large-only
  font-family: "/" + unquote($large-only) + "/"

meta.mq-large-up
  font-family: "/" + unquote($large-up) + "/"
