@import "functions"
@import "variables"

// 2D + 3D Transforms
//-----------------------

=translate($x, $y)
  transform: translate($x, $y)

=translate3d($x, $y, $z)
  transform: translate3d($x, $y, $z)

=translateX($x)
  transform: translateX($x)

=translateY($y)
  transform: translateY($y)

=translateZ($y)
  transform: translateZ($y)

=scale($x, $y: $x)
  transform: scale($x, $y)

=scale3d($x, $y, $z)
  transform: scale3d($x, $y, $z)

=scaleX($x)
  transform: scaleX($x)

=scaleY($y)
  transform: scaleY($y)

=scaleZ($y)
  transform: scaleZ($y)

=rotate($angle, $unit: deg)
  transform: rotate( #{strip-unit($angle)}#{$unit} )

=rotate3d($x, $y, $z, $angle, $unit: deg)
  transform: rotate3d( $x, $y, $z, #{strip-unit($angle)}#{$unit} )

=rotateX($angle, $unit: deg)
  transform: rotateX( #{strip-unit($angle)}#{$unit} )

=rotateY($angle, $unit: deg)
  transform: rotateY( #{strip-unit($angle)}#{$unit} )

=rotateZ($angle, $unit: deg)
  transform: rotateZ( #{strip-unit($angle)}#{$unit} )

=skew($x-angle, $y-angle, $unit: deg)
  transform: skew( #{strip-unit($x-angle)}#{$unit}, #{strip-unit($y-angle)}#{$unit} )

=skewX($angle, $unit: deg)
  transform: skewX( #{strip-unit($angle)}#{$unit} )

=skewY($angle, $unit: deg)
  transform: skewY( #{strip-unit($angle)}#{$unit} )

=blur($amount)
  filter: blur($amount)

// Transition multiple css properties using equal duration and timing
=transition-list($properties, $duration: $a-base-dur, $timing-function: $a-base-ease)
  $values: ()
  @each $property in $properties
    $values: append($values, $property $duration $timing-function, comma)
  transition: $values

// Linear gradient shortcut
// usage: +linear-gradient(white 0%, black 100%, to right)
=linear-gradient($start-colour, $end-colour, $side-or-corner: to bottom)
  background-image: linear-gradient($side-or-corner, $start-colour, $end-colour)

// Radial gradient shortcut
// usage: +radial-gradient(white 0%, black 100%, center, ellipse, farthest-corner)
=radial-gradient($start-colour, $end-colour, $position: center, $shape: ellipse, $size: farthest-corner)
  background-image: radial-gradient($shape $size at $position, $start-colour, $end-colour)

=center-both($width: auto, $height: auto, $position: absolute, $left: 50%, $top: 50%)
  position: $position
  left: $left
  top: $top
  @if $width == auto and $height == auto
    +translate(-$left, -$top)
  @else if $width == auto
    +translateX(-$left)
    margin-top: -($height / 2)
  @else if $height == auto
    +translateY(-$top)
    margin-left: -($width / 2)
  @else
    margin-top: -($height / 2)
    margin-left: -($width / 2)

=center-vertically($height: auto, $position: absolute, $top: 50%)
  position: $position
  top: $top
  @if $height == auto
    +translateY(-$top)
  @else
    margin-top: -($height / 2)

=center-horizontally($width: auto, $position: absolute, $left: 50%)
  position: $position
  left: $left
  @if $width == auto
    +translateX(-$left)
  @else
    margin-left: -($width / 2)

=center-x($arguments...)
  +center-horizontally($arguments...)

=center-y($arguments...)
  +center-vertically($arguments...)

=center-xy($arguments...)
  +center-both($arguments...)

=center-block($vert-margin: 0)
  display: block
  margin: $vert-margin auto

// Middle aligns children when applied to parent
// Caveats:
// 1. child height can be unknown but parent height must be defined
// 2. font size is removed from parent so that the pseudo element does not affect layout of children
// 3. parent must not be a self-closing element (such as <img>, <input>, etc)
=pseudo-align-middle()
  font-size: 0
  &::before
    content: ''
    height: 100%
    display: inline-block
    vertical-align: middle

=size($size)
  width: $size
  height: $size

=min-size($size)
  min-width: $size
  min-height: $size

=max-size($size)
  max-width: $size
  max-height: $size

=absolute-fill($position: absolute, $offset: 0)
  position: $position
  top: $offset
  right: $offset
  bottom: $offset
  left: $offset
  @if $offset == 0
    +size(100%)
  @else
    width: calc(100% - #{$offset * 2})
    height: calc(100% - #{$offset * 2})

// Clamp text to defined number of lines
// - webkit browsers have native support and will obey overflow ellipsis
// - non-webkit browser will still hide text but not have ellipsis
// NOTE: this only works with 2009 implementation of flexbox
=line-clamp($font-size, $line-height, $lines-to-show)
  display: block // fallback for non-webkit
  display: -webkit-box
  max-height: round($font-size * $line-height * $lines-to-show) // fallback for non-webkit
  font-size: $font-size
  line-height: $line-height
  -webkit-line-clamp: $lines-to-show
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis

=inherit-color($color)
  color: $color
  *
    color: inherit

// http://nicolasgallagher.com/another-css-image-replacement-technique/
=hide-text
  font: 0/0 a
  text-shadow: none
  color: transparent

=text-truncate
  display: block
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

=text-stroke($offset, $color)
  $shadows: ()
  $positions: (-$offset, $offset)
  @each $x in $positions
    @each $y in $positions
      $shadows: append($shadows, $x $y 0 $color, comma)
  text-shadow: $shadows

// Remove the space between inline block elements
// https://css-tricks.com/fighting-the-space-between-inline-block-elements/
=remove-whitespace
  font-size: 0
=reset-whitespace
  font-size: initial

=box-column-parent($width: 100%)
  +remove-whitespace
  display: block
  width: $width

// Calculates column widths and margins based on percentages
=box-column($total: 3, $margin: 0)
  +reset-whitespace
  display: inline-block
  vertical-align: top
  @if $total == 1
    width: 100%
  @else if unit($margin) == "%"
    // [32%] 2% [32%] 2% [32%]
    width: (100% / $total) - ($margin * ($total - 1) / $total)
  @else if $margin > 0
    // [calc(33.33%-6.66px)] 10px [calc(33.33%-6.66px)] 10px [calc(33.33%-6.66px)]
    width: calc(#{100% / $total} - #{$margin * ($total - 1) / $total})
  @else
    // [33.33%][33.33%][33.33%]
    width: 100% / $total
  @if $total > 1 and $margin > 0
    &:not(:last-child):not(:nth-of-type(#{$total}n))
      margin-right: $margin

// Creates evenly spaced points from 0% to 100%
// usage: +percentage-points(5)
// .-----.-----.-----.-----.
// ^     ^     ^     ^     ^
// 0%    25%   50%   75%   100%
=percentage-points($total)
  // &:nth-child(1) { left: 100% - percentage((5 - 0/4) / 5); }
  // &:nth-child(2) { left: 100% - percentage((4 - 1/4) / 5); }
  // &:nth-child(3) { left: 100% - percentage((3 - 2/4) / 5); }
  // &:nth-child(4) { left: 100% - percentage((2 - 3/4) / 5); }
  // &:nth-child(5) { left: 100% - percentage((1 - 4/4) / 5); }
  // &:nth-child(5) { left: 100% - percentage((1 - 4/4) / 5); }
  @for $i from 1 through $total
    &:nth-child(#{$i})
      left: 100% - percentage( ( ($total + 1 - $i) - ( ($i - 1) / ($total - 1) ) ) / $total )

// Keeps the defined aspect ratio of an element relative to its width
// http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio
=aspect-ratio($a-ratio-width: 16, $a-ratio-height: 9)
  &::after
    content: ''
    display: block
    padding-top: percentage($a-ratio-height / $a-ratio-width)

// Calculates width given the original dimensions of an object and the desired height
// http://andrew.hedges.name/experiments/aspect_ratio/
=calc-aspect-width($original-width, $original-height, $new-height, $round: false)
  $new-width: calc-aspect-width($original-width, $original-height, $new-height)
  @if ($round == true)
    $new-width: round($new-width)
  width: $new-width

// Calculates height given the original dimensions of an object and the desired width
// http://andrew.hedges.name/experiments/aspect_ratio/
=calc-aspect-height($original-width, $original-height, $new-width, $round: false)
  $new-height: calc-aspect-height($original-width, $original-height, $new-width)
  @if ($round == true)
    $new-height: round($new-height)
  height: $new-height

=input-reset
  margin: 0
  padding: 0
  border: 0
  background: none
  box-shadow: none
  vertical-align: middle
  white-space: normal
  line-height: 1
  &:focus
    outline: 0

=btn
  +input-reset
  appearance: none
  user-select: none
  text-decoration: none
  display: inline-block
  &:disabled
    cursor: default
  &:enabled:hover
    cursor: pointer

=clearfix
  &::after
    content: ''
    display: table
    clear: both

// http://stackoverflow.com/a/17181946
=placeholder
  /* Webkit */
  &::-webkit-input-placeholder
    @content
  /* Firefox 4-18 */
  &:-moz-placeholder
    @content
  /* Firefox 19+ */
  &::-moz-placeholder
    @content
  /* IE10+ */
  &:-ms-input-placeholder
    @content

=mobile
  @media #{$small-only}
    @content

=tablet
  @media #{$medium-only}
    @content

=tablet-up
  @media #{$medium-up}
    @content

=tablet-down
  @media #{$medium-down}
    @content

=desktop
  @media #{$large-up}
    @content
