@import "functions"
@import "variables"
@import "mixins"

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html
  box-sizing: border-box
  *
    &,
    &::before,
    &::after
      box-sizing: inherit

.page-wrapper
  width: 100%
  position: relative
  overflow-x: hidden

.page-container
  position: relative
  +center-block
  +mobile
    width: calc(100% - #{$page-gutter-small})
  +tablet
    width: calc(#{lower-bound($medium-range)} - #{$page-gutter-medium})
  +desktop
    width: calc(#{lower-bound($large-range)} - #{$page-gutter-large})
