 @import "variables"
 @import "mixins"
 @import "helpers/chevron"
 @import "helpers/spinner"

.btn
  +btn

// TYPOGRAPHY HELPERS
//-------------------

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.text-truncate
  +text-truncate

.text-hide
  +hide-text

.list-unstyled
  list-style: none
  padding-left: 0

.list-inline
  @extend .list-unstyled
  margin-left: -5px
  > li
    display: inline-block
    padding-left: 5px
    padding-right: 5px

// VISIBILITY HELPERS
//-------------------

.hide,
.hidden
  display: none !important

.hide-for-mobile-only
  +mobile
    display: none !important

.hide-for-tablet-only
  +tablet
    display: none !important

.hide-for-desktop-only
  +desktop
    display: none !important

.show-for-mobile-only
  +tablet-up
    display: none !important

.show-for-tablet-only
  +mobile
    display: none !important
  +desktop
    display: none !important

.show-for-desktop-only
  +tablet-down
    display: none !important

.show-for-tablet-up
  +mobile
    display: none !important

.show-for-tablet-down
  +desktop
    display: none !important

// POSITIONAL HELPERS
//-------------------

.center-both
  +center-both

.center-vertically
  +center-vertically

.center-horizontally
  +center-horizontally

.center-block
 +center-block

// TRANSFORM HELPERS
//------------------

@each $rotation in (0, 45, 90, 135, 180, 225, 270, 315, 360)
  .rotate-#{$rotation}
    +rotate($rotation)

@for $i from 1 through 5
  .scale-#{$i}
    +scale($i)

// GRID LAYOUT HELPERS
//--------------------

.row
  +box-column-parent

@for $i from 1 through $column-grid-size
  .column-#{$i}
    +box-column($column-grid-size - $i + 1, $column-gutter)

// COMPONENTS
//-----------

.chevron
  +chevron

.spinner
  +size(30px)
  +spinner($color-black, $color-white)
