@import "variables"
@import "mixins"

body,
body *
  font-family: $ff-base

body,
h1, h2, h3, h4, h5, h6,
p, ul, ol
  margin: 0
  line-height: normal

h1, h2, h3, h4, h5, h6
  color: $color-grey-dark
  font-weight: $fw-normal

p, ul, ol
  color: $color-grey-dark
  font-weight: $fw-light

a
  color: inherit

// Font sizes for mobile environments
+mobile
  h1
    font-size: $fs-base-h1 * $fs-multi-small
    margin-bottom: $text-margin-small
  h2
    font-size: $fs-base-h2 * $fs-multi-small
    margin-bottom: $text-margin-small
  h3
    font-size: $fs-base-h3 * $fs-multi-small
    margin-bottom: $text-margin-small
  h4
    font-size: $fs-base-h4 * $fs-multi-small
    margin-bottom: $text-margin-small
  h5
    font-size: $fs-base-h5 * $fs-multi-small
    margin-bottom: $text-margin-small
  h6
    font-size: $fs-base-h6 * $fs-multi-small
    margin-bottom: $text-margin-small
  p, ul, ol
    font-size: $fs-base-p * $fs-multi-small
    margin-bottom: $text-margin-small

// Font sizes for tablet environments
+tablet
  h1
    font-size: $fs-base-h1 * $fs-multi-medium
    margin-bottom: $text-margin-medium
  h2
    font-size: $fs-base-h2 * $fs-multi-medium
    margin-bottom: $text-margin-medium
  h3
    font-size: $fs-base-h3 * $fs-multi-medium
    margin-bottom: $text-margin-medium
  h4
    font-size: $fs-base-h4 * $fs-multi-medium
    margin-bottom: $text-margin-medium
  h5
    font-size: $fs-base-h5 * $fs-multi-medium
    margin-bottom: $text-margin-medium
  h6
    font-size: $fs-base-h6 * $fs-multi-medium
    margin-bottom: $text-margin-medium
  p, ul, ol
    font-size: $fs-base-p * $fs-multi-medium
    margin-bottom: $text-margin-medium

// Font sizes for desktop environments
+desktop
  h1
    font-size: $fs-base-h1 * $fs-multi-large
    margin-bottom: $text-margin-large
  h2
    font-size: $fs-base-h2 * $fs-multi-large
    margin-bottom: $text-margin-large
  h3
    font-size: $fs-base-h3 * $fs-multi-large
    margin-bottom: $text-margin-large
  h4
    font-size: $fs-base-h4 * $fs-multi-large
    margin-bottom: $text-margin-large
  h5
    font-size: $fs-base-h5 * $fs-multi-large
    margin-bottom: $text-margin-large
  h6
    font-size: $fs-base-h6 * $fs-multi-large
    margin-bottom: $text-margin-large
  p, ul, ol
    font-size: $fs-base-p * $fs-multi-large
    margin-bottom: $text-margin-large
