@import "../mixins"

=chevron($direction: 'all', $size: 1em, $thickness: 0.15em, $color: inherit, $pseudo: 'before')
  $rotations: ( 'up': -45deg, 'right': 45deg, 'down': 135deg, 'left': -135deg )
  $translate-center: translateX(-50%) translateY(-50%)
  // http://www.mathopenref.com/squarediagonals.html
  $sqrt2: 1.41421356237 // sqrt(2)
  $diagonal-length: $size
  $side-length: $diagonal-length / $sqrt2
  position: relative
  +size($size)
  &::#{$pseudo}
    content: ''
    display: block
    +size($side-length)
    position: absolute
    left: 50%
    top: 50%
    border-style: solid
    border-width: $thickness $thickness 0 0
    border-color: $color
  @if $direction == 'all'
    @each $direction, $rotation in $rotations
      &.#{$direction}::#{$pseudo}
        transform: $translate-center rotate($rotation)
  @else
    &::#{$pseudo}
      transform: $translate-center rotate(map-get($rotations, $direction))
