@import "../mixins"

@keyframes spin
  0%
    +rotate(0)
  100%
    +rotate(360)

=spinner($color, $color-bg)
  position: relative
  +hide-text
  +linear-gradient(rgba($color, 1) 10%, rgba($color, 0) 50%, to right)
  border-radius: 50%
  animation: spin 1s infinite linear
  // both circles
  &::before,
  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
  // outer circle
  &::before
    +size(50%)
    background: $color
    border-radius: 100% 0 0 0
  // inner circle
  &::after
    +size(75%)
    background: $color-bg
    border-radius: 50%
    margin: auto
